extends layout

block content
  #{villur}
  form(action='/post', method='post')
    label Nafn:
      input(type="text" name="name" value="")
    label Netfang:
      input(type="email" name="email" value="")
    label Kennitala:
      input(type="text" pattern="^[0-9]{6}-?[0-9]{4}$" name="ssn" value="")
      label Fjöldi:
        input(type="number" min="0" step="1" name="fjoldi" value="")
    button Senda
  a(href="/login") Innskráning
